@use './variables' as vars;
@use './mixins' as *;

.main {
  max-width: vars.$content-max-width;
  margin: 0 auto;
  padding: vars.$spacing-lg;

  @include responsive(tablet) {
    padding: vars.$spacing-md;
  }
}
